/***************** PHOTOGRAPHER_SECTION *************/
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 70px;
}

.photographer_section article, .photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 15px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}

.photographer_section article .localisation {
    font-size: 13px;
    color: var(--primary-color);
    margin-bottom: 0;
    margin-top: 0;
}

.photographer_section article .tagline {
    font-size: 10px;
}

.photographer_section article .price {
    font-size: 9px;
    color: #757575;
}