/**************** IMPORTS **********************/
@import url("components/buttons.css");
@import url("layouts/photographerCard.css");
@import url("layouts/contactForm.css");
@import url("pages/index.css");
@import url("pages/photographer.css");


/**************** BASE *************************/
:root {
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
    --modal-background: #DB8876;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
    margin-right: 100px;
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

.logo {
    height: 50px;
    margin-left: 100px;
    position: relative;
    top: 10px;
}

a {
    text-decoration: none;
}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

@keyframes opacity-appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes opacity-desappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}