/*********************** MAIN BUTTONS ******************/
.button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: var(--secondary-color);
}


/******************* OTHER BUTTONS **********************/
button[aria-label="Close"], 
button[aria-label="Next"],
button[aria-label="Previous"] {
    border: none;
    background: rgb(0, 0, 0, 0);
    border-radius: 5px;
    padding: 5px;
}

button[aria-label="Close"]:hover,
button[aria-label="Next"]:hover,
button[aria-label="Previous"]:hover,
button[aria-label="Close"]:focus,
button[aria-label="Next"]:focus,
button[aria-label="Previous"]:focus {
    background: var(--secondary-color);
}
